/* MAIN */
body{font-family: 'Raleway', sans-serif;}
.title{font-weight:bold;}
.card{border-radius:1rem;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);transition:all .3s cubic-bezier(.25,.8,.25,1)}
.card:hover{box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22)}
.card .img{height:0;padding-bottom:56.25%}
.card .title{margin:0}
.card .content{padding:1rem}

/* SEARCH & FILTER */
.search-container form{display:flex}
.search-container input[type="text"]{margin:0 -4px;vertical-align:bottom;padding:.5rem 1rem;border:0;border-top:2px solid #f2f2f2;border-bottom:2px solid #f2f2f2;font-weight:bold;color:#000}
.search-container label .marker{padding:10px 1rem;background-color:#f2f2f2;border-radius:.5rem 0 0 .5rem}
.search-btn{border:0;padding:10px 1rem;background-color:#0065fc;color:white;font-weight:bold;border-radius:0 .5rem .5rem 0}
.filters{list-style-type:none;margin:0;display:flex;flex-flow:row wrap;padding:0;}
.filter{display:inline-flex;align-items:center;border:2px solid #f2f2f2;border-radius:1rem;margin:.75rem;padding:0 1rem 0 2.75rem;position:relative}
.filter.title{border:none;padding:0 3rem 0 0;margin-left:0;}
.filter,.filter .icon{font-weight:bold;height:2rem;line-height:2rem}
.filter .icon{color:#0065fc;background:#deebff;border-radius:50%;width:36px;line-height:36px;height:36px;text-align:center;position:absolute;top:-2px;left:-2px;bottom:-2px}
.filter .fa-circle{color:#deebff}
.filter:hover{cursor:pointer;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);background-color:#f2f2f2}
.info p{margin-bottom:0;}
.info .icon{border-radius:50%;border:2px solid #f2f2f2;line-height:32px;width:32px;height:32px;text-align:center}

/* ACTIVITIES */
article#activities{padding:3% 0}
article#activities .cards{display:flex;gap: 2rem;}
article#activities .cards > div {flex-grow:1;}
.single .card, article#activities .cards .double{height:100%;display:flex;flex-direction:column;}
article#activities .double{gap:2rem;}
.single .card .img{padding-bottom:100%;flex-grow:2;}

/* FOOTER */
.footer{background:#f2f2f2;display:flex}
.links{flex-grow:1}
.links a{text-decoration:none}
