/* MAIN */
body{font-family: 'Raleway', sans-serif;font-size:12px;margin:0 auto;max-width:1200px;}
p{margin-top:0;}
a{text-decoration:none;}
.title{font-weight:bold;margin:0;padding-bottom: .5rem;}
header,article{padding:0 3%}
footer{padding:3%}
/* #accommodations .main-content > .title, .sidebar .title, #activities > .title, .links .title{padding-bottom:1.5rem}
 */
/* CARD STYLES */
.card{background-color:#fff;border-radius:1rem;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);transition:all .3s cubic-bezier(.25,.8,.25,1)}
.card:hover{box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22)}
.card .img{height:0;padding-bottom:56.25%;border-radius: 1rem 1rem 0 0;}
.card .content{padding:.5rem;position:relative}

/* HEADER / NAVIGATION */
header.header{display:inline-flex;flex-direction:row;justify-content:space-between;align-items:center;width:100%}
header.header .logo{height:30px;}
.main-nav{list-style-type:none;margin:0;display:inline-flex}
.main-nav li{padding:1.75rem 1rem}
.main-nav li:last-of-type(){padding-right:0}
.signup{font-weight:bold}
.mobile.signup{display:none}
header.header a{color:#0065fc;display:block}
li.active{border-top:2px solid #0065fc}
li.not-active a{color:#000}

/* SEARCH & FILTER */
.search-container form{display:flex}
.search-container input[type="text"]{margin:0 -4px;vertical-align:bottom;padding:.5rem 1rem;border:0;border-top:2px solid #f2f2f2;border-bottom:2px solid #f2f2f2;font-weight:bold;color:#000}
.search-container label .marker{padding:13px 1rem;background-color:#f2f2f2;border-radius:.5rem 0 0 .5rem}
.search-btn{border:0;padding:10px 1rem;background-color:#0065fc;color:white;font-weight:bold;border-radius:0 .5rem .5rem 0;cursor:pointer;}
.search-btn i{display:none;}
#filters{padding: .75rem 0;}
.filters{list-style-type:none;margin:0;display:flex;flex-flow:row wrap;padding:0;}
.filter{display:inline-flex;align-items:center;border:2px solid #f2f2f2;border-radius:1.5rem;margin:.5rem;padding:0 1rem 0 2.5rem;position:relative}
.filter.title{border:none;padding:0 1rem 0 0;margin-left:0;}
.filter,.filter .icon{font-weight:bold;height:2rem;line-height:2rem}
.filter .icon{color:#0065fc;background:#deebff;font-size:.75rem;border-radius:50%;width:36px;line-height:36px;height:36px;text-align:center;position:absolute;top:-2px;left:-2px;bottom:-2px}
.filter .fa-circle{color:#deebff}
.filters li:not(.filter.title):hover{cursor:pointer;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);background-color:#f2f2f2}
.info p{margin-bottom:0;display:flex;align-items:center;}
.info .icon{border-radius:50%;border:2px solid #f2f2f2;line-height:16px;width:16px;height:16px;text-align:center;font-size:.5rem;color:#0065fc;padding-right:.5rem;}

/* ACCOMMODATIONS */
#accommodations{display:flex;align-items:flex-start;}
.main-content,.sidebar{background:#f2f2f2;border-radius:1rem;padding:1.75rem;flex-grow:1;}
.main-content{flex-grow:2;margin-right:2rem;}
#accommodations .cards.side{display:flex;flex-direction:column;}
#accommodations .main-content .cards{display:flex;flex-flow:row wrap;margin:0 -.875rem;}
.main-content .card{flex:1 1 29%;margin:.875rem;padding:.25rem}
.card.side{padding:.25rem;display:flex;flex-direction:row}
.cards.side > div:not(:last-of-type) {margin-bottom: 1.75rem;}
.card.side .img{width:35%;border-radius:1rem 0 0 1rem;padding-bottom:115px;max-height:115px}
.card.side .desc{flex-grow: 1;}
.card .stars{font-size:.5rem;color:#0065fc;align-self:flex-end;white-space:nowrap}

.card .stars.one>i:not(:nth-of-type(1)),.card .stars.two>i:not(:nth-of-type(1)):not(:nth-of-type(2)),.card .stars.three>i:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)),.card .stars.four>i:nth-of-type(5){color:#f2f2f2}
.show-more{margin-bottom:0}

/* ACTIVITIES */
#activities .cards{display:flex;flex-direction:row;}
#activities .cards > div {flex:1 1;margin:.875rem}
.single .card, article#activities .cards .double{height:100%;display:flex;flex-direction:column;}
article#activities .double{gap:2rem;}
.single .card .img{padding-bottom:100%;flex-grow:2;}
.double > div.card:not(:last-of-type){margin-bottom: 1.75rem;}

/* FOOTER */
.footer{background:#f2f2f2;display:flex}
.links{flex-grow:1}
.links p:last-of-type{margin:0}
