/* MAIN */
body{font-family: 'Raleway', sans-serif;font-size:12px;margin:0 auto;max-width:1200px;}
p{margin-top:0;}
a{text-decoration:none;color:inherit}
.title{font-weight:bold;margin:0;padding-bottom: .5rem;}
article#accommodations .main-content > .title,.sidebar > .title{padding-bottom:1.5rem}

/* CARD STYLES */
.card{background-color:#fff;border-radius:1rem;overflow:hidden;box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);transition:all .3s cubic-bezier(.25,.8,.25,1)}
.card:hover{box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22)}
.card .img{height:0;padding-bottom:40%;border-radius: 1rem 1rem 0 0;}
.card .content{padding:.5rem;position:relative;display:flex;flex-direction:column;flex:2;}

/* HEADER / NAVIGATION */
header.header{display:flex;flex-direction:column;}
.logo-cont{display:flex;align-items:center;justify-content:space-between;padding:1rem 0 0}
.main-nav{list-style-type:none;margin:0;padding:0;display:flex;flex-direction:row}
.signup{font-weight:bold}
header.header a{color:#0065fc;display:block}
.main-nav li{padding:.75rem;border-bottom:2px solid #f2f2f2}
li.active{border-color: #0065fc}
li.not-active a{color:inherit}

/* SEARCH & FILTER */
.search-container form{display:flex}
.search-container input[type="text"]{margin:0 -4px;vertical-align:bottom;padding:.5rem 1rem;border:0;border-top:2px solid #f2f2f2;border-bottom:2px solid #f2f2f2;font-weight:bold;color:#000}
.search-container label .marker{padding:13px 1rem;background-color:#f2f2f2;border-radius:.5rem 0 0 .5rem}
.search-btn{border:0;padding:10px 1rem;background-color:#0065fc;color:white;font-weight:bold;border-radius:0 .5rem .5rem 0;cursor:pointer;}
.search-btn i{display:none;}
#filters{padding: .75rem 0;}
.filters{list-style-type:none;margin:0;display:flex;flex-flow:row wrap;padding:0;}
.filter{display:inline-flex;align-items:center;border:2px solid #f2f2f2;border-radius:1.5rem;margin:.5rem;padding:0 1rem 0 2.5rem;position:relative}
.filter.title {border: none;padding: 0;margin: 0;width: 100%;}
.filter,.filter .icon{font-weight:bold;height:2rem;line-height:2rem}
.filter .icon{color:#0065fc;background:#deebff;font-size:.75rem;border-radius:50%;width:36px;line-height:36px;height:36px;text-align:center;position:absolute;top:-2px;left:-2px;bottom:-2px}
.filter .fa-circle{color:#deebff}
.filters li:not(.filter.title):hover{cursor:pointer;box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);background-color:#f2f2f2}
.info{padding-bottom:1rem;display:flex;align-items:center;width:80%}
.info p{margin-bottom:0;}
.info .icon{border-radius:50%;border:2px solid #f2f2f2;line-height:20px;width:24px;height:20px;text-align:center;font-size:.5rem;color:#0065fc;margin-right:.5rem;}

/* ACCOMMODATIONS */
#accommodations{display:flex;flex-direction:column;}
.main-content,.sidebar{padding:1.75rem;flex:1;}
.main-content{flex:2;order:2}
.sidebar{order:1;background:#f2f2f2;}
#accommodations .cards.side{display:flex;flex-direction:column;}
#accommodations .main-content .cards{display:flex;flex-flow:column nowrap;margin:0 -.875rem;}
.main-content .card{flex:1 1 29%;margin:.875rem;padding:.25rem}
.card.side{padding:.25rem;display:flex;flex-direction:row}
.cards.side > div:not(:last-of-type) {margin-bottom: 1.75rem;}
.card.side .img{width:35%;border-radius:1rem 0 0 1rem;padding-bottom:115px;max-height:115px}
.card.side .desc{flex-grow: 1;}
.card .stars{font-size:.5rem;color:#0065fc;white-space:nowrap}
.card .stars.one>i:not(:nth-of-type(1)),.card .stars.two>i:not(:nth-of-type(1)):not(:nth-of-type(2)),.card .stars.three>i:not(:nth-of-type(1)):not(:nth-of-type(2)):not(:nth-of-type(3)),.card .stars.four>i:nth-of-type(5){color:#f2f2f2}
.show-more{margin-bottom:0}
.title.popular{position:relative}
.title.popular::after{font-family:"Font Awesome 5 Free";font-weight:900;content:"\f201";display:inline-block;font-style:normal;font-variant:normal;text-rendering:auto;position:absolute;right:0}

/* ACTIVITIES */
#activities .cards{display:flex;flex-direction:column;margin: 0 -.875rem}
#activities .cards > div {flex:1 1;margin:.875rem}
.single .card, article#activities .cards .double{height:100%;display:flex;flex-direction:column;}
article#activities .double{gap:1.5rem;}

/* FOOTER */
.footer{background:#f2f2f2;display:flex;flex-direction:column}
.links{flex-grow:1}
.links p:last-of-type{margin:0}
.links .title{padding-bottom:.75rem}

/* MEDIA QUERIES */
/* Small only */
@media screen and (max-width: 39.9375em) {
  .main-nav{justify-content: space-between;}
  .main-nav li{flex: 1;text-align: center;}
  .main-nav .sigup{display:none;}
  .search-container{padding:1.5rem 0 .75rem}
  .search-container p{padding-bottom:1rem}
  #locsearch{flex:2}
  .footer > div:not(:last-of-type){padding-bottom:2rem}
  .card{margin: 0 0 1rem 0 !important;}
}

/* Medium and up */
@media screen and (min-width: 40em) {
  header.header{flex-direction:row;justify-content:space-between;align-items:center}
  li.active{border-top:2px solid #0065fc;border-bottom:none}
  .mobile.signup{display:none}
  .main-nav li{padding:1.75rem 1rem}
  .main-nav li:last-of-type(){padding-right:0}
  .info{width:33%}
  .main-content,.sidebar{background:#f2f2f2;border-radius:1rem;}
  #accommodations{align-items:flex-start;}
  #accommodations .main-content .cards{flex-flow:row wrap;}
  #activities .cards,.footer{flex-direction:row;}
  .single .card .img{padding-bottom:100%;flex-grow:2;}
  .filter.title{border:none;padding:0 1rem 0 0;margin-left:0;}
  header,article#accommodations{padding:0 3%}
  footer,article#activities{padding:3%}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .sidebar{margin-bottom:1.5rem}
  #accommodations .cards.side{display:flex;flex-direction:row;gap:1.5rem}
  .card.side{flex:1}
}

/* Large and up */
@media screen and (min-width: 64em) {
  #accommodations{flex-direction:row;}
  .main-content{order:2}
  .sidebar{margin-left:2rem;order:1}
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}
